@model Product;
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-3">
            <h2 class="text-primary">Edit Product</h2>
        </div>
        @*         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        *@        <div class="mb-3">
            <label asp-for="Title" class="m-1"></label>
            <input required asp-for="Title" class="form-control" type="text" />
            <span asp-validation-for="Title" class="text-danger"></span>

            <div class="mb-3">
                <label asp-for="Description" class="m-1"></label>
                <input required asp-for="Description" class="form-control " type="text" />
                <span asp-validation-for="Description" class="text-danger"></span>

                <div class="mb-3">
                    <label asp-for="ISBN" class="m-1"></label>
                    <input required asp-for="ISBN" class="form-control " type="text" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>

                </div> <div class="mb-3">
                    <label asp-for="Author" class="m-1"></label>
                    <input required asp-for="Author" class="form-control " type="text" />
                    <span asp-validation-for="Author" class="text-danger"></span>

                </div> <div class="mb-3">
                    <label asp-for="ListPrice" class="m-1"></label>
                    <input required asp-for="ListPrice" class="form-control " type="number" />
                    <span asp-validation-for="ListPrice" class="text-danger"></span>

                </div> <div class="mb-3">
                    <label asp-for="Price" class="m-1"></label>
                    <input required asp-for="Price" class="form-control " type="number" />
                    <span asp-validation-for="Price" class="text-danger"></span>

                </div> <div class="mb-3">
                    <label asp-for="Price50" class="m-1"></label>
                    <input required asp-for="Price50" class="form-control " type="number" />
                    <span asp-validation-for="Price50" class="text-danger"></span>

                </div>
            </div> <div class="mb-3">
                <label asp-for="Price100" class="m-1"></label>
                <input required asp-for="Price100" class="form-control " type="number" />
                <span asp-validation-for="Price100" class="text-danger"></span>

            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary ">Update Product</button>

    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary">Go Back</a>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}