@if (TempData["success"] != null)
{
    <div class="bg-success d-flex m-auto w-50 h-25 p-3 border-black border-3  border-opacity-25 shadow">
        <h5><i class="bi bi-info-circle-fill"></i>@TempData["success"] </h5>

    </div>
}
@if (TempData["delete"] != null)
{
    <div class="bg-danger d-flex m-auto w-50 h-25 p-3 border-black border-3 border-opacity-25 shadow">
        <h5><i class="bi bi-info-circle-fill"></i>@TempData["delete"] </h5>

    </div>
}
@if (TempData["update"] != null)
{
    <div class="text-bg-info d-flex m-auto w-50 h-25 p-3 border-black border-3 border-opacity-25 shadow">
        <h5><i class="bi bi-info-circle-fill"></i>@TempData["update"] </h5>

    </div>
}